<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/head %>
</head>
<body>
<div class="container-fluid">

<div class="row justify-content-center">
                <form action="/userGet" method="GET">
                <div class="card">
                <div class="card-header">
                Gracias por Registrarse
                </div>
                <div class="card-body">
                <h4 class="card-title"><%= data.fname+' '+  data.lname%></h4>
                <p class="card-text">con correo <%= data.correo %> </p>
                <a href="#" class="btn btn-primary" type="submit">Ver lista de Usuarios</a>
                </div>
                </div>
                </form>
        </div>
                               
</div>
    <% include partials/footer %>
</body>
</html>