<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/head %>
</head>
<body>

    <!-- no additional media querie or css is required -->
<div class="container">
<div class="row justify-content-center align-items-center" style="height:100vh">
            
            <div class="jumbotron">
            <h1 class="display-4">No estas autorizado!</h1>
            <p class="lead">Para poder ver las listas de usuarios de OpenPay debe ser autorizado</p>
            <hr class="my-4">
            <p>Para Loguearse de clic en el boton</p>
            <a class="btn btn-primary btn-lg" href="/login" role="button">Loguearse</a>
            
            </div>
    </div>
</div>
</div>

<% include partials/footer %>
</body>
</html>